<nav id="mainNav" class="navbar fixed-top navbar-dark bg-inverse">
<div>
    <a class="navbar-brand site-brand internal-link float-left" id="brandNav" href="{{@blog.url}}" title="{{@blog.title}}">
        {{#if @blog.logo}}
        <img class="rounded-circle float-left" width="32" alt="{{@blog.title}} - Logo" src="{{@blog.logo}}">{{/if}} <span class="h4 mb-0 font-weight-bold"
        >{{@blog.title}}</span>
    </a>

    <button class="navbar-toggler offsetMenu float-right" type="button" id="offsetMenu">
        <i class="fa fa-navicon fa-lg"></i>
    </button>

    <button class="navbar-toggler offsetSearch float-right" type="button" id="offsetMenu">
        <i class="fa fa-search fa-lg"></i>
    </button>
</div>
</nav>
