{{!< default}}
{{! Everything inside the #author tags pulls data from the author }}
{{#author}}
<header class="bg-primary set-shadow mbs-cover fadeIn animated">
    <div class="cover-bg" {{#if cover}} style="background-image: url({{cover}})"{{/if}}></div>

	{{> navbar}}

	<div class="cover-inner">
	    <div class="container">

	        <div class="text-center fadeIn animated">
	            {{#if image}}
	            	<a href="{{url}}" title="{{name}}'s Posts" class="internal-link"><img class="rounded-circle img-thumbnail logo mb-2" alt="{{name}}" src="{{image}}"></a>
	            {{/if}}
	            <h1 class="font-weight-bold">
	            	About <a href="{{url absolute="true"}}" title="{{name}}" class="internal-link">{{name}}</a>
	            </h1>

				<p class="msb-desc-w">
					<i class="fa fa-file-text-o"></i> 
					<strong>{{plural ../pagination.total empty='No posts' singular='% post' plural='% posts'}}</strong> 
					{{#if location}}
						• <i class="fa fa-map-marker"></i> 
						{{location}}
					{{/if}}
				</p>

				{{#if bio}}
	            <div class="mbs-bio-w mx-auto d-block p-1">
	            	<em>{{bio}}</em>
	            </div>
	            {{/if}}
	        </div>

	    </div>
    </div>
</header>
{{/author}}

<main class="container" role="main">
    <div class="row">
        <article class="col-12 article">

            <div class="card mb-3">
                <div class="card-block text-center">
                    <p>I'm originally from a beautiful little town called Alhandra, in Portugal.</p>
					<p>&darr;</p>
                    <img src="https://adammode.xyz/alhandra.jpg">
                    <p>But I stumbled on a plane and now I am currently residing in Amsterdam.</p>
                </div>
            </div>

            <div class="card mb-3">
                <div class="card-block text-center">
                    <p>I studied Computer Science and Computer Engineering because when I was young(er) I was one of the kids that really liked computers.</p>
					<p>I ❤️ javascript, javascripty things and also really enjoy frontend related stuff.</p>
					<p>I'm currently working as a frontend developer but recently I started participating in conferences and found out that's also a lot of fun!</p>
					<p>My biggest dream in life is to find a non-fattening chocolate fountain!</p>
                </div>
            </div>

        </article>
    </div>
</main>
